div.flex-center {
    >div {
        height: 100%;
        padding: 10px;
        vertical-align: top;
        display: inline-block;
    }
    #pannel {
        width: 250px;
        color: #AEAEAE;
        font-weight: bold;
        font-family: monospace;
        background: #333 url("/background.png") repeat;
        .video video {
            width: 230px;
            margin-bottom: 20px;
        }
        .index {
            overflow-y: auto;
            max-height: 400px;
            li {
                margin-left: -25px;
                a {
                    color: #9DBFDB;
                }
                a:not(.active) {
                    font-weight: normal;
                }
            }
        }
    }
    #slides {
        width: calc(100% - 500px - 10px);
        border: dotted 2px yellow;
    }
    .questions {
        width: 250px;
        background: #E5F2F2 url("/background.png") repeat;
        h4 {
            font-weight: bold;
            font-family: monospace;
        }
        .question-asked {
            padding: 10px;
            border-radius: 8px;
            margin-bottom: 10px;
            background-color: #FAFAFA;
            .user-name {
                font-weight: bold;
            }
            .user-message {
                line-height: 1em;
            }
        }
        .ask-link {
            bottom: 10px;
            position: absolute;
            border-radius: 3px;
            background-color: #F3F3F3;
            border: solid 1px #D1D1D1;
        }
    }
}
